
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Sriracha&display=swap');



body{

    font-family: fuzzy bubbles , sans-serif;
    font-weight: 400;
    background: url('../images/pastel-balloons2.jpg') no-repeat center;
    background-position: top center;
    height:600px
    

}

   #logo {
    height: 290px;
    width: 100%;
    background: url('../images/logo2.jpg') no-repeat center ;
}



#menu li {
    float: right;
    list-style: none;
    margin: 30px;
}

footer{
    height: 150px;
}
.social-media {
    text-align: center;
}

