
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Sriracha&display=swap');



body{

    font-family: fuzzy bubbles , sans-serif;
    font-weight: 400;
    font-size : 25px;
    background: url('../images/pastel-balloons2.jpg') no-repeat center;
    Background-attachment: scroll;
    background-position: top center;
    height:600px
    

}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 290px;

}
.logo{
    width: 500px;
    height: 290px;
}

   .logo {
    background: url('../images/logo2.jpg') no-repeat center;
    float: center;
    top: 0;
    left: 50%;
   }


#menu li {
    float: right;
    list-style: none;
    font-family: Sriracha, sans-serif;
    margin: 30px;
    font-size:30px; 
}

.about-us{
  Background-attachment: fixed;
}

div{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    padding-left: 250px;

}
/* footer style*/

footer {
    background-color: aqua;
    height: 15%;
    width: 100%;
    
}
.social-media {
    text-align: center;
    position: relitive;
    
}
.social-media >li {
    display: flex;
    justify-content: space-between;
}
.social-media i {
    font-size:100%;
}

/*gallery page*/


img{
    width: 300px;
    height: 300px;    border: solid 15px aqua;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    }


figcaption{
    font-size: 20px;

}

/* form style */

.form-display{
    padding:40px;
    position: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:250px;
    }

    .map {
        float: top right;
    }