body{
    font-family :Arial
}
#logo {
    height: 200px;
    widht: 10%;
    background: url('../images/logo.jpeg') no-repeat center center 
}

#menu li {
    float: right;
    list style: none;
    margin: 30px;

}